* {
    list-style: none;
}

body {
    background-color: #edece1;
}


/* 導覽列 */

.navbar-nav a {
    font-size: 1.2em;
}

.navbar-nav a:hover {
    font-weight: 700;
    transform: 0.2s;
}

.timeLineTitle {
    margin: 30PX 0;
}

.timeLineTitle .container {
    background-color: #fffef5;
    display: flex;
    justify-content: flex-end;
    box-shadow: 10PX 10PX 20PX #8a8982;
    position: relative;
    overflow: hidden;
}

.timeLineTitle .container h1 {
    width: 96%;
    font-size: 140PX;
    font-weight: bolder;
    box-sizing: border-box;
    color: rgba(221, 221, 221, 0.55);
    position: absolute;
    line-height: 1.3em;
    top: -60PX;
    bottom: 0;
}

.timeLineTitle .container h1::first-letter {
    font-size: 120PX;
    color: rgba(221, 221, 221, 0.8);
}

.timeLineTitle .container .txt {
    width: 55%;
    column-count: 2;
    column-gap: 20PX;
    box-sizing: border-box;
    padding: 30PX;
    position: relative;
    z-index: 1;
}

.timeLineTitle .container p {
    margin-bottom: 0.6em;
}

.timeLineTitle .container p::first-letter {
    font-size: 30PX;
    float: left;
    padding-right: 6PX;
}

.timeLineTitle .container p:last-child:first-letter {
    font-size: 1em;
    float: left;
    padding-right: 0PX;
}

.timeLineTitle .container p:last-child {
    float: right;
    font-size: 12PX;
    display: none;
}

@media (max-width:1024PX) {
    .timeLineTitle .container h1 {
        width: 98%;
        font-size: 120PX;
        line-height: 1.72em;
        color: rgba(221, 221, 221, 0.65);
    }
}

@media (max-width:768PX) {
    .timeLineTitle .container .txt {
        width: 85%;
        column-count: 1;
        box-sizing: border-box;
        padding: 30PX;
        position: relative;
        z-index: 1;
    }
    .timeLineTitle .container p:nth-child(2) {
        display: none;
    }
    .timeLineTitle .container p:last-child {
        display: block;
    }
    .timeLineTitle .container h1 {
        width: 98%;
        font-size: 90PX;
        line-height: 1.8em;
        color: rgba(221, 221, 221, 0.65);
    }
    .timeLineTitle .container h1::first-letter {
        font-size: 120PX;
        color: rgba(221, 221, 221, 0.8);
        /* margin-right: 5PX; */
    }
}


/* 時間軸 圖文區  */


/* 設定float底層高度撐不開，用after偽類設高度 */

.time::after {
    content: "";
    width: 100%;
    height: 100PX;
    clear: both;
    display: block;
}


/* 圖 + 文 */

.timeLine li {
    width: 50%;
    text-decoration: none;
    box-sizing: border-box;
    padding: 15PX 0;
    position: relative;
    margin: 50PX 0;
}

.timeLine li:nth-child(odd) {
    float: left;
    padding-right: 100PX;
}

.timeLine li:nth-child(even) {
    float: right;
    padding-left: 100PX;
    /* Y軸下移自己高度的50% */
    transform: translateY(50%);
}

.timeLine li .timeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-decoration: none;
    /* border:#aaa solid 3PX; */
    border-radius: 5PX;
    box-sizing: border-box;
    box-shadow: 4PX 5PX 12PX rgb(83, 83, 83);
    padding: 15PX;
    background-color: whitesmoke;
    color: #555;
    text-align: center;
}

.timeLine .pic {
    margin-bottom: 5PX;
}

.timeLine .pic img {
    filter: sepia(40%);
    transition: 0.3s;
    max-height: 350PX;
    object-fit: cover;
}

.timeLine li .timeItem:hover img {
    filter: none;
}

.timeLine h3,
.timeLine p {
    margin: 0 30PX;
}


/* 時間軸中間線條 */

.timeLine li:nth-child(odd)::after {
    content: "";
    width: 1PX;
    position: absolute;
    top: 0;
    height: 200%;
    background-color: black;
    right: 0;
    z-index: -1;
}


/* 中間圓點 */

.timeLine li::before {
    content: "";
    position: absolute;
    width: 15PX;
    height: 15PX;
    border-radius: 50%;
    background-color: #aaa;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
}

.timeLine li:nth-child(odd)::before {
    right: -7PX;
}

.timeLine li:nth-child(even)::before {
    left: -7PX;
}


/* 中間圓點 end */


/* 連接線 */

.timeLine h3::after {
    content: "";
    width: 100PX;
    height: 2PX;
    position: absolute;
    background-color: #aaa;
    top: 0;
    bottom: 0;
    margin: auto;
}

.timeLine li:nth-child(odd) h3::after {
    right: 0;
}

.timeLine li:nth-child(even) h3::after {
    left: 0;
}


/* 連接線end */

@media screen and (max-width:768PX) {
    .timeLine p {
        display: none;
    }
    .timeLine .pic img {
        height: 100%;
    }
    .time::after {
        height: 0PX;
    }
    .timeLine li {
        margin: 35PX 0;
    }
    .timeLine li:nth-child(odd) {
        padding-right: 30PX;
    }
    .timeLine li:nth-child(even) {
        padding-left: 30PX;
    }
    .timeLine h3::after {
        width: 30PX;
    }
    .timeLine li .timeItem {
        padding: 0PX;
        border-radius: 0;
    }
}

.today {
    text-align: center;
    width: 50%;
    /* height: 100%; */
    margin: 50PX auto 100PX;
    cursor: default;
}

.today h3 {
    font-size: 60PX;
    font-weight: 700;
    letter-spacing: 6PX;
}

.today .pic {
    clear: both;
    padding-top: 100PX;
    max-width: 320PX;
}

.today .pic img {
    border: #aaa solid 3PX;
    border-radius: 5PX;
    box-sizing: border-box;
    box-shadow: 4PX 5PX 12PX rgb(83, 83, 83);
    padding: 15PX;
    background-color: whitesmoke;
}

@media screen and (max-width:768PX) {
    .today .pic {
        padding-top: 50PX;
    }
    .today h3 {
        font-size: 35PX;
        font-weight: 700;
        letter-spacing: 6PX;
    }
}

.future {
    text-align: center;
}

.ml11 {
    font-weight: 700;
    font-size: 3.5em;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    cursor: help;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}


/* 回頂部 */

.backTop {
    float: right;
    background-color: rgb(80, 1, 1);
    border-radius: 50%;
    height: 50PX;
    width: 50PX;
    text-align: center;
    line-height: 50PX;
    display: block;
    margin-right: 50PX;
    margin-bottom: 25PX;
    color: darkgray;
    text-decoration: none;
}

.backTop:hover {
    color: darkgray;
}